.receipes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.recipe
{
    box-shadow: 5px 5px 5px black;
    padding: 20px;
    padding-bottom: 20px;
}
.recipes img
{
    height: 100px;
    width: 100px;
}
