/* You can add global styles to this file, and also import other style files */
body{
    background-color: grey;
}
div
{
    text-align: center;
    border-color: brown;
    padding: 20px;
}
img
{
    width: 200px;
    height: 200px;
}
